@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Work Sans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  font-size: 16px;
}

body {
  background: #343541;
}

#app {
  width: 100vw;
  height: 100vh;
  background: #343541;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #40414F;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;
  color: #dcdcdc;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 300;
  position: relative;
  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap; 
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.message.typing::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 1.2rem;
  background-color: #dcdcdc;
  animation: blink .2s ease infinite;
  opacity: 1;
  position: absolute;
  right: unset;
  margin-left: .5rem;
  transform: translateY(5px);
}

.message > *.link {
  color: #adadad
}

@keyframes blink {
  to{
    opacity: 0;
  }
}

.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #40414F;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

textarea {
  width: 100%;
  resize: none;
  color: #fff;
  font-size: .9rem;
  font-weight: 300;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  border-radius: 8px;
  cursor: pointer;
  background: transparent;
  color: #dcdcdc;
  font-size: 1.2rem;
}

button:active {
  transform: scale3d(.95, .95, .95);
}

button:hover {
  background-color: #202123;
}

form img {
  width: 30px;
  height: 30px;
}